line {
  margin: 10px;
  stroke-width: 30px;
  stroke-linecap: round;
  fill: transparent;
}

.box {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: lightgray;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
